:root {
    --scrollbar-thumb-color: #48CAE4;
    --scrollbar-track-color: #ADE8F4;
}

body::-webkit-scrollbar {
    width: 14px;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color); /* Color of the thumb (drag handle) */
    border-radius: 6px; /* Round the corners of the thumb */
}

body::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track-color); /* Color of the track (the area the thumb moves on) */
}

body {
    display:flex;
    flex-direction: column;
    background-color: #ADE8F4;
    width: 100%;
}

article {
    flex: 1;
}

button {
    cursor: pointer;
}

#mainMenu {
    list-style: none;
    padding: 0;
    width: 100%;
    overflow: hidden;
    background-color: #ADE8F4;
    margin: 0;
    transition: background-color 0.3s ease, backdrop-filter 0.3s ease, color 0.3s ease;
}

#mainMenu.scrolled {
    background-color: #0095c7c6;
    backdrop-filter: blur(5px);
    transition: background-color 0.7s ease, backdrop-filter 0.7s ease, color 0.7s ease;
}

#mainMenu.scrolled a {
    color: white !important;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
    --webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
}

#mainMenu li {
    float: right;
    margin-right: 3%;
    line-height: 100px;
    font-size: 18px;
}

#mainMenu a {
    color: #023E8A;
    font-weight: bold;
    text-decoration: none;
}

#mainMenu button {
    padding: 10px 20px;
    border: 2px solid #0096C7;
    border-radius: 20px;
    background-color: #48CAE4;
    font-size: 17px;
    color: #023E8A;
}

#ModeToggle {
    color: #ffbe0b;
}

#container {
    position: relative;
    min-height: 100vh;
}

#wrap {
    padding-bottom: 5rem;
    margin: 0 8%;
    text-align: center;
}

#footer {
    position: absolute;
    display: flex;
    flex-direction: row;
    bottom: 0;
    height: 5rem;
    width: 100%;
    background-color: #0096C7;
    color: white;
    align-items: center;
    padding-left: 20%;
    padding-right: 20%;
    box-sizing: border-box;
}

#socials {
    display: flex;
    flex: 1;
    font-size: 18px;
    justify-content: flex-end;
}

#socials a {
    color: white;
    text-decoration: none;
    padding-left: 3%;
}

#backToTop {
    display: none;
    position: fixed;
    bottom : 40px;
    right: 40px;
    background: none;
    border: none;
    font-size: 40px;
    cursor: pointer;
    color: #0077B6;
}

#chat {
    display: none;
    position: fixed;
    top: 215px;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 25px;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
    z-index: 999;
    width: 250px;
    height: 420px;
    max-width: 300px;
    border: 1px solid #0096C7;
    border-radius: 25px;
}

@media (min-width: 600px) {
    #chat {
        right: 50px;
        left: auto;
        transform: none;
    }
}

#closeChat {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 20px;
    cursor: pointer;
}

#chat h2 {
    text-align: center;
    margin-top: 10px;
}

#chat p {
    font-size: 15px;
    color: #555;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

#chat form {
    margin-top: 20px;
    align-items: center;
}

#chat form input {
    height: 35px;
    width: 200px;
    margin-bottom: 10px;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

#chat textarea {
    height: 50px;
    width: 200px;
    margin-bottom: 20px;
    border-radius: 30px;
    padding-left: 20px;
    padding-top: 15px;
    padding-right: 20px;
}

#chat button {
    height: 40px;
    width: 240px;
    border-radius: 20px;
}

.blur {
    filter: blur(5px);
}

.hidden {
    display: none;
}

#tic {
    position: relative;
}

#start {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    border: 2px solid #333;
    border-radius: 20px;
    background-color: cornflowerblue;
    font-size: 17px;
    cursor: pointer;
}

#board {
    border-collapse: collapse;
    margin-top: 20px;
}
  
#board td {
    width: 50px;
    height: 50px;
    border: 2px solid #333;
    text-align: center;
    font-size: 24px;
    cursor: pointer;
}
  
#restart {
    display: block;
    margin: auto;
    margin-top: 20px;
    padding: 10px 20px;
    border: 2px solid #333;
    border-radius: 20px;
    background-color: cornflowerblue;
    font-size: 17px;
    cursor: pointer;
}
